body {
    font-family: 'Pangolin', cursive;
    background-color: lightskyblue;
}

.jumbotron {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

#navbar {
    color: black;
    background-color: lightskyblue;
}

#dinoCard {
    display: flex;
    justify-content: space-around;
}

#dinoFormDOM {
    text-align: center;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

#kennel {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    background-color: green;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 10px;
}

#kennel-container {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 10px;
    text-align: center;
    background-color: green;
    border: maroon 5px solid;
}

#hospital {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    background-color: yellow;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 10px;
}

#hospital-container {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 10px;
    text-align: center;
    background-color: yellow;
    border: maroon 5px solid;
}

#graveyard {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 10px;
}

#graveyard-container {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 10px;
    text-align: center;
    background-color: gray;
    border: maroon 5px solid;
}

#dinoModal {
    background-color: lightpink;
}